<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SMS Spam Classifier</title>
</head>
<body>
    <h1 style="text-align: center; margin-bottom: 40; margin-top: 50px;">SMS Spam or Ham !</h1>
    <div style="width:600px; margin:0 auto;">
        <form action="{{ url_for('predict')}}" method="post">
            <textarea type="text" name="sms" placeholder="Please write your SMS here." required="required"
                style="width: 600px; height: 100px;" ></textarea>
            
            <button type="submit" class="btn btn-default">Send SMS</button>
        </form>
        
    </div>
    <div style="width:600px; margin:0 auto;">
    <p style="width: 600;">{{ sms }}</p>
    <h2 style="text-align: center;">{{ prediction_text }}</h2>
    </div>
</body>
</html>
